* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}
.container {
    display: flex;
    justify-content: start;
    align-items: flex-start;

}
.left {
    margin-left: 10px;
    border: solid 1px black;
    background: antiquewhite;
    border-radius: 10px;
    margin-top: 40px;
    padding: 40px;
    width: 300px;
}
.right{
    margin-left: 20px;
    border: solid 1px black;
    background: cyan;
    border-radius: 10px;
    margin-top: 40px;
    padding: 20px;
    width: auto;
    margin-right: 90px;
    font-size: 20px;
}
.right button{
    margin-top: 40px;
    font-size: 30px;
}
.button{
    text-align: center;
    display: flex;
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 200px;
}
.button .btn1{
    border-radius: 10px;
    width: 30%;
    padding: 50px;
    border: solid 1px brown;
}.button .btn2{
    border-radius: 10px;
    width: 30%;
    padding: 50px;
    border: solid 1px brown;
}.button .btn3{
    border-radius: 10px;
    width: 30%;
    padding: 50px;
    border: solid 1px brown;
}
